*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e3dfdc;
  color: #1a0b08;
  text-align: left;
  font-family:"meiryo";
}

a{
  text-decoration: none;
  color: inherit; /* 親要素の設定を引き続く */
}



/* header */
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}

#header h1{
  width: 120px;
  height: 30px;
  margin: 10px;
  padding: auto 0;
  background-color: #1a0b08;
  color: #e3dfdc;
  text-align: center;
  font-size: 24px;
  border-radius: 10%;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  font-size: 16px;
  text-align: center;
}



/* main */
#main-visual{
  height: 720px;
  background-image: url("img/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#main-visual::before{
  content: "";
  display: block;
  padding-top: 50%;
}

#main-visual::after{
  content: "WELCOME to my profile site!";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 64px;
  color: #1a0b08;
  font-weight: bold;
}

section{
  margin: 60px 0;
}

.sectiontitle{
  font-weight: bold;
  border-bottom: dotted 5px #fff5e0;
}



/* About */
.profile-box{
  display: flex;
  margin: 30px auto;
}

.profile-box img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto 0;
}

.profile-box h4{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.profile-text{
  padding: 0 50px;
}


.text-row{
  display: flex;
  line-height: 1.7;
}

.label{
  width: 100px;
  font-weight: bold;
  flex-shrink: 0;
}

.text{
  flex-grow: 1;
}



/* Works */
.works-box{
  margin: 30px 0;
}

.card{
  background-color: #1a0b08;
  color: #fff5e0;
  margin: 1px;
}
.card-body{
  background-color: inherit;
  color: inherit;
}

.card-body h4{
  background-color: inherit;
  color: inherit;
  font-weight: bold;
}

.card-body h6{
  background-color: inherit;
  color: inherit;
}

.card-body p{
  background-color: inherit;
  color: inherit;
  border-top: solid 0.5px #fff5e0;
  padding-top: 10px;
}

.card-body a{
  background-color: #1a0b08;
  color: #fff5e0;
}


/* Contact */
.col-form-label{
  font-weight: bold;
}

.contact-row{
  margin-top: 30px;
}

.btn{
  background-color: #1a0b08;
  color: #e3dfdc;
}



/* footer */
footer{
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: #1a0b08;
  color: #e3dfdc;
}



/* responsive */
@media screen and (max-width:992px){
  .profile-box{
    flex-direction: column;
  }
  .profile-image{
   margin: 0 auto;
  }
  .text-row{
    flex-direction: column;
  }
}